.catInfoContainer {
  margin: 0 auto;
  width: 80vw;
  display: flex;
  img {
    margin: 4rem;
    width: 25vw;
    object-fit: cover;
    border-radius: 4rem;
  }
  .details {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 2.1rem;
      font-weight: 600;
    }
    h2 {
      margin: 1rem 0;
      font-size: 1.1rem;
    }
    p {
      margin: 2rem 2rem 1rem 0;
      font-size: 1.1rem;
      font-weight: 500;
      line-height: 22px;
    }
    ul {
      list-style-type: none;
      li {
        display: flex;
        align-items: center;
      }
    }
  }
}
